<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<script src=""> </script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script>
    if (window.jQuery === undefined){ 
        document.write('<script src="javascripts/jquery-3.4.1.min.js"> <\/script>');
        document.write('<script src="javascripts/bootstrap-3.4.1.min.js"> <\/script>');
        document.write('<link rel="stylesheet" href="stylesheets/bootstrap-3.3.7.min.css" >');
    }
</script>